<br />
<h1>All Jobs<button type="postButton" class="btn btn-success" (click)="post()">Post A Job</button></h1>
<hr>

<div *ngIf="!newPost">
  <div class="panel panel-primary" *ngFor="let post of allPosts">

    <!-- Post's title -->
    <div class="panel-heading">
      <h3 class="panel-title"><strong>{{ post.title }}</strong></h3>
    </div>

    <!-- Displays details of job -->
    <div class="panel-body">
      <strong>Details: </strong>{{ post.details }}
    </div>

    <!-- Displays information -->
    <div class="panel-footer">
      <strong>Location: </strong>{{ post.locationstyle }}
      <br />
      <strong>Date: </strong>{{ post.date | date: 'MMMM dd, y' }} <!-- had to remove the formatting here, was causing error -->
      <br />
      <strong>Time: </strong>{{ post.date | date: 'h:mm a' }}
      <br />
      <strong>Payrate: </strong>{{ post.payrate | currency: 'USD' : 'symbol' }}
      <br />
      <strong>Posted by: </strong>{{ post.createdBy }}
      <br />

      <!-- Request Job Button -->
      <button type="requestJob" class="btn btn-success" (click)="requestJob()">Request job</button>

      <!-- Edit Button -->
      <a [routerLink]="['/edit-post/', post._id]" *ngIf="user.displayname == post.createdBy"><button type="editJob" name="button" class="btn btn-inf">Edit</button></a>

      <!-- Delete Button -->
      <button type="delete" *ngIf="user.displayname == post.createdBy" class="btn btn-secondary" (click)="deletePost(post._id)">Delete</button>
      <hr>
  </div>
</div>
