<!DOCTYPE html>
<html>
<body>
  <h3>Post a job</h3>
  <div>
    <form (submit)="onPostSubmit()" action="" method="get">
      <label>Title</label>
      <input type='text' [(ngModel)]="title" name="title" placeholder="Title" class= "form-control" required>

      <label>Location</label>
      <input type="text" [(ngModel)]="location" name="location" placeholder="Address" class="form-control" required>

      <label>Date</label>
      <input type="date" [(ngModel)]="date" name="date"  class="form-control" required>

      <label>Time</label>
      <input type="time" [(ngModel)]="time" name="time" placeholder = "12:00 PM PST" class="form-control" required>

      <label>Pay rate</label>
      <input type="text" [(ngModel)]="payrate" currency name="payrate" placeholder="$20.00" min="0" class="form-control" id="payrate" onblur="handleChange()" required>

      <label>Details</label>
      <textarea type="area" [(ngModel)]="details" name="details" placeholder="What needs to be done..." class="form-control" required></textarea>

      <input type="submit" class="btn btn-primary" value="Post">
    </form>
  </div>
</body>


</html>
