<br />
<h1>All Jobs<button type="postButton" class="btn btn-success" (click)="post()">Post A Job</button></h1>
<hr>

<!-- Panel Start -->
<div *ngIf="!newPost">
  <!-- Panel Outer Layer -->
  <div class="panel panel-primary" *ngFor="let post of allPosts">

    <!-- Panel Title -->
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Title: </strong>{{ post.title }}</h3>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">
      <strong>Details: </strong>{{ post.details }}
    </div>

    <!-- Panel Footer Start -->
    <div class="panel-footer">
      <strong>Location: </strong>{{ post.location }}
      <br />
      <strong>Date: </strong>{{ post.date | date:'MM/dd/yyyy' }} <!-- had to remove the formatting here, was causing error -->
      <br />
      <strong>Time: </strong>{{ post.time }}
      <br />
      <strong>Payrate: </strong>{{ post.payrate }}
      <br />
      <strong>Posted by: </strong>{{ post.createdBy }}
      <br />

      <!-- Request Job Button -->
        <button type="requestJob" class="btn btn-success" (click)="requestJob()">Request job</button>

      <!-- Edit Button -->
        <!-- <a [routerLink]="['/edit-post/', post._id]"><button type="button" name="button" class="btn btn-primary">Edit</button></a> -->
        <button type="edit" class="btn btn-primary" (click)="editPost()">Edit</button>

      <!-- Delete Button -->
        <!-- <a [routerLink]="['/edit-post/', post._id]"><button type="button" name="button" class="btn btn-primary">Edit</button></a> -->
        <button type="delete" class="btn btn-secondary" (click)="deletePost()">Delete</button>
        <hr>

    <!-- Panel Footer End -->
    <!-- Post Comment Box: End -->

  </div>
  <!-- Panel Outer Layer -->
</div>
<!-- Panel End -->
