<!DOCTYPE html>
<html>
<body>

  <div class="container">
    <!-- Settings Button -->
    <a class="btn btn-primary float-right" role="button" [routerLink]="['/settings']">Settings</a>


    <ul class="list-group">
      <h1 style="text-align:center">Profile Page</h1>

      <img class="profPic" src="{{imgLink}}"/><br>

      <!-- Only show if name exists in db -->
      <li class="list-group-item" *ngIf="this.name">
        <h4 class="list-group-item-heading">Name</h4>
        <p class="list-group-item-text">{{this.name}}</p>
      </li>

      <li class="list-group-item">
        <h4 class="list-group-item-heading">Username</h4>
        <p class="list-group-item-text">{{this.username}}</p>
      </li>

      <li class="list-group-item">
        <h4 class="list-group-item-heading">Email</h4>
        <p class="list-group-item-text">{{this.email}}</p>
      </li>

      <!-- Only show if bio exists in db -->
      <li class="list-group-item" *ngIf="this.bio">
        <h4 class="list-group-item-heading">Bio</h4>
        <p class="list-group-item-text">{{this.bio}}</p>
      </li>

    </ul>

  </div>

</body>
</html>
