<!DOCTYPE html>
<html>
<body>

  <div class="container">
    <!-- Settings Button -->
    <a class="btn btn-primary float-right" role="button" [routerLink]="['/settings']">Settings</a>

    <h1>Profile Page</h1>
    <ul class="list-group">

      <li class="list-group-item">
        <h4 class="list-group-item-heading">Username</h4>
        <p class="list-group-item-text">{{this.username}}</p>
      </li>

      <li class="list-group-item">
        <h4 class="list-group-item-heading">Email</h4>
        <p class="list-group-item-text">{{this.email}}</p>
      </li>

      <li class="list-group-item">
        <h4 class="list-group-item-heading">Bio</h4>
        <p class="list-group-item-text">{{this.bio}}</p>
      </li>

    </ul>

  </div>

</body>
</html>
