<!DOCTYPE html>
<html>
<body>
<h3 style="padding-top:2%">Settings</h3>
<div>
<form (submit)="onSettingsSubmit()" style="padding:10px" ng-controller="updateSettings" action="" method="get">
    <div class = "form-group">
        <div style="text-align:center"><img style="margin:auto" class ="profPic" src="{{imgLink}}"/>
        <br>
        <label style="padding-top:2%; margin:auto" for="name">{{username}}</label><br></div>
        <label style="padding-top:2%" for="name">Profile Picture URL</label>
        <input type="text" id = "imgLink" class="form-control" name="imgLink" placeholder="{{this.imgLink}}" [(ngModel)]="_formImgLink">
    <!-- <input style="padding-top:2%" type="file" name="profPic" image-with-preview ng-model="image" accept="image/jpeg,image/png" placeholder="/angular-src/src/assets/default_profile_pic_final.png"> -->
    <!--<span class="error" ng-show="profPic.$error.image">
        Not a JPEG or a PNG!
    </span> -->
    <!-- <img ng-show="image.src" ng-src="{{user.image}}"/> -->
    <!-- <script type="text/javascript" src="/node_modules/ng-image-input-with-preview/dist/ng-image-input-with-preview.js"></script> -->
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="{{this.name}}" [(ngModel)]="_formName">
        <!-- add ng-change="noticeChanges()" to above input field to test if changes are recognized to show the save button -->
    </div>
    <div class="form-group">
    <label for="password">Password </label>
    <input type="password" class="form-control" placeholder="{{this.password}}" name="password">
    </div>
    <!-- <div class="form-group">
    <label for="retypedPswd">Repeat Password </label>
    <input type="password" class="form-control" placeholder="{{this.retypedPswd}}" [(ngModel)]="retypedPswd" name="retypedPswd" required>
    </div> -->
    <div class="form-group">
        <label for="bio">Bio </label>
        <textarea class="form-control" placeholder="{{this.bio}}" name="bio" [(ngModel)]="_formBio"></textarea>
    </div>
    <!-- <div class="form-group">
        <label for="skills">Skills </label>
        <input type="text" class="form-control" placeholder="" [(ngModel)]="skill[0]">
        <input type="text" class="form-control" placeholder="" [(ngModel)]="skill[1]">
        <input type="text" class="form-control" placeholder="" [(ngModel)]="skill[2]">
        <input type="text" class="form-control" placeholder="" [(ngModel)]="skill[3]">
        <input type="text" class="form-control" placeholder="" [(ngModel)]="skill[4]">
    </div> -->
    <button type="button" class="btn btn-danger" (click)="goBack(true)">Cancel</button> 
    <button type="submit" class="btn btn-success" name ="button">Save Settings</button>
    <!-- add *ngIf="changes" to above input field to test if changes are recognized to show the save button -->

    <!-- <h1 ng-if="successMessage == 0">Settings Updated!</h1> -->
</form>
<!-- <td><a class="btn btn-primary" ng-click="addProductData();" >Update</a></td> -->
</div>
</body>
</html>
