<!DOCTYPE html>
<html>
    <body>
        <h3>Settings</h3>
        <div>
        <form (submit)="onSettingsSubmit()" ng-controller="updateSettings" action="" method="get">

            <div class = "form-group">
                <div id="imgWrap">
                    <div id="img-align">
                        <img src="{{imgLink}}"/>
                        <br>
                        <h1 id="username">{{username}}</h1>
                        <br>
                    </div>
                </div>
                <label id="imgUrl" for="imgLink">Profile Picture URL</label>
                <input type="text" id = "imgLink" class="form-control" name="imgLink" placeholder="{{this.imgLink}}" [(ngModel)]="_formImgLink">
            <!-- <input style="padding-top:2%" type="file" name="profPic" image-with-preview ng-model="image" accept="image/jpeg,image/png" placeholder="/angular-src/src/assets/default_profile_pic_final.png"> -->
            <!--<span class="error" ng-show="profPic.$error.image">
                Not a JPEG or a PNG!
            </span> -->
            <!-- <img ng-show="image.src" ng-src="{{user.image}}"/> -->
            <!-- <script type="text/javascript" src="/node_modules/ng-image-input-with-preview/dist/ng-image-input-with-preview.js"></script> -->
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" placeholder="{{this.name}}" [(ngModel)]="_formName">
                <!-- add ng-change="noticeChanges()" to above input field to test if changes are recognized to show the save button -->
            </div>

            <div class="form-group">
                <label for="CurrPswd"><span id="asterisk">*</span> Current Password</label>
                <input type="password" class="form-control" placeholder="{{this._plCurrPswd}}" name="currPswd" [(ngModel)]="_formCurrPswd" (keyup)="setHideNewPw()" required>
                <label class="warningText" *ngIf="this.currPwWarning" for="currPswd">Current Password Incorrect. Please try again</label>                                
            </div>

            <div *ngIf="!this.hideNewPw" class="form-group">
                <label for="newPswd">New Password </label>
                <input type="password" class="form-control" placeholder="{{this._plNewPswd}}" [(ngModel)]="_formNewPswd" name="newPswd" (keyup)="setHideRePw()">
                <label class="warningText" *ngIf="this.newPwWarning" for="newPswd">Must be at least 6 characters</label>                
            </div>

            <div *ngIf="!this.hideRePw" class="form-group">
                <label for="rePswd">Retype New Password </label>
                <input type="password" class="form-control" placeholder="{{this._plRePswd}}" [(ngModel)]="_formRePswd" name="RePswd" (keyup)="setRePwWarning()" Required>
                <label class="warningText" *ngIf="this.rePwWarning" for="rePswd">Passwords do not match</label>                                    
            </div>

            <div class="form-group">
                <label for="bio">Bio </label>
                <textarea class="form-control" placeholder="{{this.bio}}" name="bio" [(ngModel)]="_formBio"></textarea>
            </div>

            <!-- <div class="form-group">
                <label for="skills">Skills </label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="skill[0]">
                <input type="text" class="form-control" placeholder="" [(ngModel)]="skill[1]">
                <input type="text" class="form-control" placeholder="" [(ngModel)]="skill[2]">
                <input type="text" class="form-control" placeholder="" [(ngModel)]="skill[3]">
                <input type="text" class="form-control" placeholder="" [(ngModel)]="skill[4]">
            </div> -->

            <button type="button" class="btn btn-danger" (click)="goBack(true)">Cancel</button> 
            <button type="submit" class="btn btn-success" name ="button">Save Settings</button>
            <!-- add *ngIf="changes" to above input field to test if changes are recognized to show the save button -->

            <!-- <h1 ng-if="successMessage == 0">Settings Updated!</h1> -->
        </form>
        <!-- <td><a class="btn btn-primary" ng-click="addProductData();" >Update</a></td> -->
        </div>
    </body>
</html>
