<div class="jumbotron text-center">
  <h1>ChoreDash: Odd Job Finder</h1>
  <p class="lead">Welcome to ChoreDash! Find and post jobs near the UCSC campus today!</p>
  <div>
    <a *ngIf="!authService.loggedIn()" class="btn btn-primary" [routerLink]="['/register']">Sign Up</a>
    <a *ngIf="!authService.loggedIn()" class="btn btn-default" [routerLink]="['/login']">Log In</a>
    <a *ngIf="authService.loggedIn()" class="btn btn-primary" [routerLink]="['/dashboard']">Find a Job</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Post Gigs</h3>
    <p>List odd jobs on and around the UC Santa Cruz campus</p>
  </div>
  <div class="col-md-4">
    <h3>Earn Cash</h3>
    <p>Get paid on the spot</p>
  </div>
  <div class="col-md-4">
    <h3>Short-Term</h3>
    <p>Jobs that range from a few hours to a few days</p>
  </div>
</div>
