<!DOCTYPE html>
<html>
<body>
  <br />
  <h1>Job Management</h1>
  <hr>
  <br />

  <button type="button" class="btn btn-outline-primary" (click)="pendingRequestsRedirect()">Pending Requests</button>
  <button type="button" class="btn btn-outline-primary" (click)="inProgressRedirect()">In Progress</button>
  <button type="button" class="btn btn-outline-primary" (click)="completedRedirect()">Completed</button>
  <button type="button" class="btn btn-outline-primary" (click)="cancelledRedirect()">Cancelled</button>
</body>
</html>
